{% extends "base.html" %}

{% block content %}

    <h1 align=center>Blog</h1>
    <hr/>
    {% if blogs|length == 0 %}
    <p>No blogs have been submitted yet</p>
    {% else %}
      {% for blog in blogs %}
      <div>
        <a href="/blog?id={{blog.id}}"><h2>{{blog.title}}</h2></a>
        <p>{{blog.body}}</p>
        <p><a href="/blog?user={{blog.owner_id}}">Written by: {{blog.owner.username}}</a></p>
        <hr  />
      </div>

      {% endfor%}
    {% endif %}        
    
{% endblock %}